@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f5f5f5;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
nav{
    background-color: #5D7300;
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav ul li{
    color: white;
}
.header{
    font-size: 40px;
    margin-top:100px;
}
.quiz-container{
    background-color: #808080;
    border-radius: 10px;
    box-shadow: 1px 2px 5px grey;
    width: 800px;
    height: 300px;
    max-width: 100%;
    margin-top: 0;
    margin-left: 280px;
    
}
.quiz-header{
    padding: 30px;
}
h3{
    text-align: center;
    padding: 10px;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 16px;
    margin: 18px;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: #4f5255;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}
button:hover{
    background-color: #000;
}
button:focus{
    background-color: #4f5259;
    outline: none;
}
footer{
    text-align: center;
    margin-top: 20px;
}